includeConfig "conf/params.config"
includeConfig "conf/containers.config"

// Define dfeault location for the the report files to be saved
def trace_timestamp = new java.util.Date().format('yyyyMMdd-HHmmss')

report {
    enabled = true
    file = "${params.logdir}/${trace_timestamp}-report.html"
}
trace {
    enabled = true
    file = "${params.logdir}/${trace_timestamp}-trace.txt"
}
timeline {
    enabled = true
    file = "${params.logdir}/${trace_timestamp}-timeline.html"
}



profiles {
    vib_compute {
        process {
            executor = 'slurm'
            // queue = 'vib_compute'
            // time = '1d'
            cpus = 32
            memory = '512GB'

            // define how many gpus are needed
            accelerator = 1
            containerOptions = "--nv"

            // set cluster options to be parsed to processes
            clusterOptions = "--gres=gpu:4 --account=s04"

            // need to still set scratch dir

            // set staging and error strategy
            stageInMode   = "symlink"
            stageOutMode  = "rsync"
            errorStrategy = { sleep(Math.pow(2, task.attempt ?: 1) * 200 as long); return 'retry' }
            maxRetries    = 3
            array         = 30

            // set resource limits for processes
            resourceLimits = [ memory: 512.GB, cpus: 32, time: 168.h ]

        }
        // set workdir to scratch
        // workDir = "/scratch/${user}/${workflow.projectDir.name}"
        apptainer {
            enabled = true
            // set cache dir to scratch
            // cacheDir = "/scratch/${user}/.singularity"
            autoMounts = true
            pullTimeout = "30 min"

        }

        executor {
            submitRateLimit = '50/1min'
            queueSize = 50
            exitReadTimeout = "3day"
        }

    }
}